﻿@model Walk_The_Maze.Models.Path

@{
    ViewBag.Title = "Delete";
}

@if (Session["Role"] == "Administrator")
{
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Path</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PathLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUpload)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
}
else
{
@Html.Label("You don't have permission to see this page")
}