﻿@model Walk_The_Maze.Models.Path

@{
    ViewBag.Title = "Details";
}

@if (Session["Role"] == "Administrator")
{
<h2>Details</h2>

<div>
    <h4>Path</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PathLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUpload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MapName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MapName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerNickName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PathID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
else
{
    @Html.Label("You don't have permission to see this page")
}