﻿@model IEnumerable<Walk_The_Maze.Models.Path>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PathLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUpload)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PathLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataUpload)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.PathID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PathID })
        </td>
    </tr>
}

</table>
