﻿@model Walk_The_Maze.Models.Map

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Map: <b>@Html.DisplayFor(model => model.MapName)</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploader)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
