﻿@model Walk_The_Maze.Models.Map

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Map @Html.Label(Model.MapName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.privado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.privado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uploader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uploader)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MapName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
