﻿@model IEnumerable<Walk_The_Maze.Models.Map>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MapName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uploader)
        </th>
        <th></th>
    </tr>

    @if (Session.IsNewSession)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MapName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.privado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uploader)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.MapName })
                </td>
            </tr>
        }
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MapName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.privado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uploader)
                </td>
                @if (Session["NickName"].ToString() == item.uploader)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MapName }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MapName }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MapName })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.MapName }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MapName })
                    </td>
                }
            </tr>
        }
    }

</table>
