﻿@model Walk_The_Maze.Models.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.DataUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataUpload)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ScoreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
