﻿@model IEnumerable<Walk_The_Maze.Models.Score>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataUpload)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MapName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerNickName)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.DataUpload)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.MapName)
        </th>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ScoreID })
            @if (Session["Role"] == "Administrator") 
            {
                @Html.Label(" | ");
                @Html.ActionLink(" Delete", "Delete", new { id = item.ScoreID })
            }
        </td>
    </tr>
}

</table>
